header[data-v-e787af1b] {
    background: white;
    border-bottom: 1px solid rgb(218,221,225);
    display: flex;
    flex-direction: row;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem
}

.logo[data-v-e787af1b] {
    align-self: center;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1;
    text-decoration: none;
    color: #000
}

.links[data-v-e787af1b] {
    display: flex;
    flex-direction: row;
    margin-left: 1rem
}

.links a[data-v-e787af1b] {
    display: inline-flex;
    align-items: center;
    margin-right: 1rem;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    color: #000
}

.links a[data-v-e787af1b]:hover {
    color: var(--clr-primary);
    border-bottom-color: var(--clr-primary)
}

.links a .icon[data-v-e787af1b] {
    margin-left: 1ch;
    font-size: .75rem
}

ul[data-v-e1f93449] {
    list-style: none;
    margin-left: 2rem;
    padding: 0
}

ul.deep[data-v-e1f93449] {
    margin-left: 1.25rem
}

ul li[data-v-e1f93449] {
    margin: .5rem 0;
    padding-right: .25rem
}

a[data-v-e1f93449] {
    color: #000;
    font-size: .91rem
}

nav[data-v-800fe59e] {
    margin-top: auto;
    padding: 1rem 0
}

@media (min-width: 961px) {
    nav[data-v-800fe59e] {
        margin-top:0
    }
}

nav ul[data-v-800fe59e] {
    list-style: none;
    margin: 0;
    padding: 0
}

a[data-v-800fe59e] {
    display: block;
    text-decoration: none;
    color: #000;
    font-weight: 400
}

a.page-link[data-v-800fe59e] {
    padding: .5rem;
    border-left: 5px solid transparent
}

a.active[data-v-800fe59e] {
    color: var(--clr-primary);
    font-weight: 600
}

a.active.page-link[data-v-800fe59e] {
    border-left-color: var(--clr-primary)
}

a[data-v-800fe59e]:hover {
    color: var(--clr-primary)
}

aside[data-v-d5f22ae8] {
    background: white;
    border-right: 1px solid #dadde1;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    max-width: 300px;
    height: 100%;
    z-index: 1;
    overflow-y: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

@media (min-width: 961px) {
    aside[data-v-d5f22ae8] {
        transform:none;
        visibility: visible;
        top: 50px;
        left: 0;
        align-content: space-between;
        height: calc(100% - 50px)
    }
}

aside.anim-sidebar-enter-active[data-v-d5f22ae8],aside.anim-sidebar-leave-active[data-v-d5f22ae8] {
    transition: transform .1s ease-in-out
}

aside.anim-sidebar-enter-from[data-v-d5f22ae8],aside.anim-sidebar-leave-to[data-v-d5f22ae8] {
    transform: translate(100%)
}

.overlay[data-v-d5f22ae8] {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #000;
    opacity: .75
}

.overlay.anim-overlay-enter-active[data-v-d5f22ae8],.overlay.anim-overlay-leave-active[data-v-d5f22ae8] {
    transition: opacity .1s linear
}

.overlay.anim-overlay-enter-from[data-v-d5f22ae8],.overlay.anim-overlay-leave-to[data-v-d5f22ae8] {
    opacity: 0
}

.page-list[data-v-d5f22ae8] {
    z-index: 1
}

.trigger[data-v-d5f22ae8] {
    all: unset;
    background: #046ff7;
    color: #fff;
    cursor: pointer;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: .95rem;
    font-weight: bolder;
    padding: 10px 15px;
    text-transform: uppercase;
    box-shadow: 0 3px 6px #00000029,0 3px 6px #0000003b
}

@media (min-width: 961px) {
    .trigger[data-v-d5f22ae8] {
        display:none
    }
}

.trigger.active[data-v-d5f22ae8] {
    display: none
}

.content[data-v-65841ac3] {
    margin-top: 50px;
    max-width: 960px;
    grid-area: article;
    padding-bottom: calc(1.95rem + 5px)
}

@media (min-width: 961px) {
    .content[data-v-65841ac3] {
        margin-left:300px
    }
}

.header[data-v-65841ac3] {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%
}

.tippy-box[data-animation=fade][data-state=hidden] {
    opacity: 0
}

[data-tippy-root] {
    max-width: calc(100vw - 10px)
}

.tippy-box {
    position: relative;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.4;
    white-space: normal;
    outline: 0;
    transition-property: transform,visibility,opacity
}

.tippy-box[data-placement^=top]>.tippy-arrow {
    bottom: 0
}

.tippy-box[data-placement^=top]>.tippy-arrow:before {
    bottom: -7px;
    left: 0;
    border-width: 8px 8px 0;
    border-top-color: initial;
    transform-origin: center top
}

.tippy-box[data-placement^=bottom]>.tippy-arrow {
    top: 0
}

.tippy-box[data-placement^=bottom]>.tippy-arrow:before {
    top: -7px;
    left: 0;
    border-width: 0 8px 8px;
    border-bottom-color: initial;
    transform-origin: center bottom
}

.tippy-box[data-placement^=left]>.tippy-arrow {
    right: 0
}

.tippy-box[data-placement^=left]>.tippy-arrow:before {
    border-width: 8px 0 8px 8px;
    border-left-color: initial;
    right: -7px;
    transform-origin: center left
}

.tippy-box[data-placement^=right]>.tippy-arrow {
    left: 0
}

.tippy-box[data-placement^=right]>.tippy-arrow:before {
    left: -7px;
    border-width: 8px 8px 8px 0;
    border-right-color: initial;
    transform-origin: center right
}

.tippy-box[data-inertia][data-state=visible] {
    transition-timing-function: cubic-bezier(.54,1.5,.38,1.11)
}

.tippy-arrow {
    width: 16px;
    height: 16px;
    color: #333
}

.tippy-arrow:before {
    content: "";
    position: absolute;
    border-color: transparent;
    border-style: solid
}

.tippy-content {
    position: relative;
    padding: 5px 9px;
    z-index: 1
}

:root {
    --clr-primary: #ff5400ff;
    --orange-2: #fa7837;
    --orange-3: #ff8500ff;
    --orange-4: #ff9100ff;
    --orange-peel: #ff9e00ff;
    --clr-secondary: #00b4d8ff;
    --blue-green: #0096c7ff;
    --star-command-blue: #0077b6ff;
    --dark-cornflower-blue: #023e8aff;
    --navy-blue: #03045eff;
    --clr-gray: #e3e3e3
}

.icon {
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    overflow: hidden
}

.content {
    flex: 1;
    padding: 0 .5rem
}

.content p {
    padding: 0 .25rem
}

.content ul,.content ol {
    padding: 0 1.25rem
}

@media (min-width: 961px) {
    .content ul,.content ol {
        margin-left:1rem
    }
}

.content img {
    box-shadow: 0 3px 6px #00000029,0 3px 6px #0000003b;
    display: block;
    max-height: 350px;
    width: auto;
    max-width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    margin: 1rem auto
}

.content figure {
    margin: 1rem 0
}

.content figure figcaption {
    text-align: center;
    font-style: italic;
    font-size: .85rem
}

.content figure img {
    margin: 0 auto .25rem
}

.content ul,.content ol {
    padding-left: 1rem
}

.content h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 1rem 0
}

.content h2 {
    padding-bottom: .3rem;
    border-bottom: thin solid var(--clr-gray)
}

.content h2:before {
    display: block;
    content: "";
    height: 50px;
    margin: -50px 0 0
}

.custom-container {
    display: block;
    border-left: .5rem solid;
    padding: 1rem 2rem;
    margin: 1rem 0
}

.custom-container.warning {
    background: #feedd2;
    color: #b67104;
    border-color: #e38d05
}

.custom-container.alert {
    background: #fed2d2;
    color: #b60404;
    border-color: #e30505
}

.custom-container.info {
    background: #d6eeff;
    color: #006ebc;
    border-color: #0089eb
}

.custom-container p {
    margin: 0;
    padding: 0
}

* {
    box-sizing: border-box
}

html {
    height: 100%
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif
}

#app {
    flex: 1;
    color: #333;
    display: flex
}

hr {
    border: 0;
    border-top: 2px solid var(--clr-gray);
    width: 50%
}

a {
    color: #ff5400;
    text-decoration: none;
    transition: text-shadow .1s linear
}

a:hover {
    text-decoration: underline
}

a:active {
    color: #bf3f00
}

code {
    padding: .1rem;
    border-radius: 3px;
    vertical-align: middle;
    background: rgb(255,234,209);
    color: var(--orange-2);
    font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;
    font-size: 14px
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: .9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px #00000026;
    width: 100%
}

table thead tr {
    background-color: var(--orange-4);
    color: #fff;
    text-align: left
}

table th,table td {
    padding: 12px 15px
}

table tbody tr {
    border-bottom: thin solid #dddddd
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3
}

table tbody tr:last-of-type {
    border-bottom: 2px solid var(--orange-4)
}

.command[data-v-2523f68b] {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: .1rem;
    margin-bottom: -.1rem;
    border-radius: 3px;
    background: rgb(255,234,209);
    color: var(--orange-2);
    font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;
    font-size: 14px
}
